        <audio preload="auto" id="sound-game-started">
            <source src="audio/Game started.mp3"></source>
            <source src="audio/Game started.ogg"></source>
        </audio>
        <audio preload="auto" id="sound-message-sent">
            <source src="audio/Message sent.mp3"></source>
            <source src="audio/Message sent.ogg"></source>
        </audio>
        <audio preload="auto" id="sound-message-received">
            <source src="audio/Message Received.mp3"></source>
            <source src="audio/Message Received.ogg"></source>
        </audio>
        <audio preload="auto" id="sound-beep">
            <source src="audio/Beep.mp3"></source>
            <source src="audio/Beep.ogg"></source>
        </audio>
        <audio preload="auto" id="sound-waiting-for-game">
            <source src="audio/Waiting for game.mp3"></source>
            <source src="audio/Waiting for game.ogg"></source>
        </audio>
        <audio preload="auto" id="sound-enter">
            <source src="audio/Enter.mp3"></source>
            <source src="audio/Enter.ogg"></source>
        </audio>
