            #help {
                font: 16px Helvetica;
            }
            #images {
                width: 100%;
            }
            #splash {
                position: absolute;
                z-index: 100;
                width: 800;
                height: 620;
                background: #eee;                
                top: 10px;
                left: 50%;
                margin-left: -400;
            }
            #splash p {
                margin-top: 150px;
                font: 16px Helvetica;
            }
            #nickname-err {
                margin-top: 10px;
                color: #a00;
                visibility: hidden;
            }
            #messages {
                height: 130px;
                background: #eee;
            }
            #messages em {
                text-shadow: 0 1px 0 #fff;
                color: #999;
            }
            #messages p {
                padding: 0;
                margin: 0;
                font: 12px Helvetica, Arial;
                padding: 5px 10px;
            }
            #messages p b {
                display: inline-block;
                padding-right: 10px;
            }
            #messages p:nth-child(even) {
                background: #fafafa;
            }
            #nicknames {
                width: 100%;
                height: 100%;
                background: #eee;
                padding: 2px 4px 4px;
                font: 14px Helvetica;
            }
            #nicknames span {
                color: #000;
            }
            #nicknames b {
                display: inline-block;
                color: #fff;
                background: #999;
                padding: 3px 6px;
                margin-top: 5px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                text-shadow: 0 1px 0 #666;
            }
            #nicknames i {
                display: inline-block;
                color: #222;
                background: #8f8;
                padding: 3px 6px;
                margin-top: 5px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                text-shadow: 0 1px 0 #666;
            }
            #messages #lines {
                height: 130px;
                overflow: auto;
                overflow-x: hidden;
                overflow-y: auto;
            }
            #messages #lines::-webkit-scrollbar {
                width: 6px;
                height: 6px;
            }
            #messages #lines::-webkit-scrollbar-button:start:decrement,
            #messages #lines ::-webkit-scrollbar-button:end:increment {
                display: block;
                height: 10px;
            }
            #messages #lines::-webkit-scrollbar-button:vertical:increment {
                background-color: #fff;
            }
            #messages #lines::-webkit-scrollbar-track-piece {
                background-color: #fff;
                -webkit-border-radius: 3px;
            }
            #messages #lines::-webkit-scrollbar-thumb:vertical {
                height: 50px;
                background-color: #ccc;
                -webkit-border-radius: 3px;
            }
            #messages #lines::-webkit-scrollbar-thumb:horizontal {
                width: 50px;
                background-color: #fff;
                -webkit-border-radius: 3px;
            }
            #send-message {
                background: #fff;
                position: relative;
            }
            input {
                height: 30px;
                padding: 0 10px;
                line-height: 30px;
                vertical-align: middle;                
            }
            #send-message input {
                width: 710px;
            }
            #set-nickname input {
                width: 140px;
            }
            input:focus {
                outline: 0;
            }
            #send-message button {
                position: absolute;
                top: 5px;
                right: 5px;
            }
            button {
                margin: 0;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
                display: inline-block;
                text-decoration: none;
                background: #43a1f7;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43a1f7), color-stop(1, #377ad0));
                background: -webkit-linear-gradient(top, #43a1f7 0%, #377ad0 100%);
                background: -moz-linear-gradient(top, #43a1f7 0%, #377ad0 100%);
                background: linear-gradient(top, #43a1f7 0%, #377ad0 100%);
                border: 1px solid #2e70c4;
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                border-radius: 16px;
                color: #fff;
                font-family: "lucida grande", sans-serif;
                font-size: 11px;
                font-weight: normal;
                line-height: 1;
                padding: 3px 10px 5px 10px;
                text-align: center;
                text-shadow: 0 -1px 1px #2d6dc0;
            }
            button:hover,
            button.hover {
                background: darker;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43a1f7), color-stop(1, #2e70c4));
                background: -webkit-linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
                background: -moz-linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
                background: linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
                border: 1px solid #2e70c4;
                cursor: pointer;
                text-shadow: 0 -1px 1px #2c6bbb;
            }
            button:active,
            button.active {
                background: #2e70c4;
                border: 1px solid #2e70c4;
                border-bottom: 1px solid #2861aa;
                text-shadow: 0 -1px 1px #2b67b5;
            }
            button:focus,
            button.focus {
                outline: none;
                -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.40), 0 0 4px 0 #377ad0;
                -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.40), 0 0 4px 0 #377ad0;
                box-shadow: 0 1px 0 0 rgba(255,255,255,0.40), 0 0 4px 0 #377ad0;
            }