            body {
                text-align: center;
            }
            .tooltip {
                padding: 8px;
                position: absolute;
                z-index: 500;
                min-width: 100px;
                background: #fff;

                padding: 20px;
                vertical-align: top;
                text-align: center;
                border: 3px solid #777;

                /* Do rounding (native in Opera, Firefox and Safari) */
                border-radius:20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
            }
            .answers {
                padding: 10px;
                border: #FFF 4px solid;
            }
            .answers:hover {
                border: #AAA solid 4px;
            }

            .correct_answer {
                padding: 10px;
                border: #0F0 solid 4px;
            }

            .other_answer {
                padding: 14px;
                /*border: #ffd700 solid 4px;   */
            }
            
            .hide {
                display: none;
            }

            .green {
                background-color: #00ff00;
            }
            #task_description {
                font-family: "Helvetica";
                font-size: 16px;
                margin-bottom: 20px;
            }
            #box-table
            {
                font-family: "Helvetica";
                font-size: 16px;
                width: 480px;
                text-align: left;
                border-collapse: collapse;
                visibility: hidden;
            }
            #box-table th
            {
                font-size: 16px;
                font-weight: normal;
                padding: 8px;
                background: #b9c9fe;
                border-top: 4px solid #aabcfe;
                border-bottom: 1px solid #fff;
                color: #039;
            }
            tr.gold {
                background-color: #ffd700;
            }
            tr.gold:hover {
                background-color: #f1b82d;
            }
            tr.silver {
                background-color: #bfc1c2;
            }
            tr.silver:hover {
                background-color: #acacac;
            }
            tr.bronze {
                background-color: #ffe4c4;
            }
            tr.bronze:hover {
                background-color: #fdbf92;
            }
            tr.other {
                background-color: #e8edff; 
            }
            tr.other:hover {
                background: #d0dafd;
            }
            #box-table td
            {
                padding: 8px;
                border-bottom: 1px solid #fff;
                color: #669;
                border-top: 1px solid transparent;
            }
            
            .caption {
                font-size: 80px;
                font-family: Courier;
            }

            #help {
                font: 16px Helvetica;
            }
            #images {
                width: 100%;
                min-height: 200px;
            }
            .back-divs {
                /* position: absolute; */
                width: 100%;
                height: 100%;
                background: #eee;
                /*left: 50%;
                margin-left: -400;*/
                padding: 20px;
                vertical-align: top;
                border: 3px solid #777;

                /* Do rounding (native in Opera, Firefox and Safari) */
                border-radius:20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
            }
            #splash {
                position: absolute;
                z-index: 100;
                width: 950;
                height: 95%;
                background: #eee;
                left: 50%;
                margin-left: -450;
            }
            #splash p {
                margin-top: 150px;
                font: 16px Helvetica;
            }
            img.avatar {
                z-index: 10;
            }

            .lavaLampNoImage {
                position: relative;
                /* height: 29px; */
                background-color: white;
                padding: 10px;
                margin: 10px 0;
                overflow: hidden;
                border: 1px solid gray;
            }
            .lavaLampNoImage li {
                float: left;
                list-style: none;
            }
            .lavaLampNoImage li.back {
                border: 1px solid #000;
                background-color: #e6e8ea;
                width: 9px;
                height: 30px;
                z-index: 8;
                position: absolute;
            }
            .lavaLampNoImage li a {
                font: bold 14px Helvetica;
                text-decoration: none;
                color: #000;
                outline: none;
                text-align: center;
                top: 7px;
                /* text-transform: uppercase; */
                letter-spacing: 0;
                z-index: 10;
                display: block;
                float: left;
                height: 30px;
                position: relative;
                overflow: hidden;
                margin: auto 7px;
            }
            .lavaLampNoImage li a:hover, .lavaLampNoImage li a:active, .lavaLampNoImage li a:visited {
                border: none;
            }
